.DS_Store
/*.xmind
/*.asta
/*.asta.lock
/素材
secret.js
.sass-cache/
#Node
npm-debug.log
node_modules/

#Cordova
platforms/
plugins/

#res
resources/signing

#image
*.png
*.jpeg
*.jpg

#GIMP
*.xcf

#Icon
!/icon.png

#backup
/backup

release/
