oche__/
*.py[cod]
db.sqlite3
settings.py
.idea/
FiNote_API/__pycache__/
FiNote_API/management/__pycache__/
FiNote_API/management/commands/__pycache__/
FiNote_API/migrations/__pycache__/
geckodriver.log
ghostdriver.log
media/
myapi/__pycache__/
.vscode
