beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Django==2.2.1
django-admin-ip-restrictor==1.0.0
django-ipware==2.1.0
django-model-utils==3.1.2
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
idna==2.8
mysql-connector-python==8.0.16
oauthlib==3.0.1
protobuf==3.7.1
PyJWT==1.7.1
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
soupsieve==1.9.1
sqlparse==0.3.0
urllib3==1.25.3
uWSGI==2.0.18
