@charset "UTF-8";
.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.75rem;
  line-height: 1;
}

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.ct-chart-pie .ct-label,
.ct-chart-donut .ct-label {
  dominant-baseline: central;
}

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end;
}

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end;
}

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.ct-grid-background {
  fill: none;
}

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}

.ct-line {
  fill: none;
  stroke-width: 4px;
}

.ct-area {
  stroke: none;
  fill-opacity: 0.1;
}

.ct-bar {
  fill: none;
  stroke-width: 10px;
}

.ct-slice-donut {
  fill: none;
  stroke-width: 60px;
}

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: rgba(215, 2, 6, 0.6);
}
.ct-series-a .ct-slice-pie, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-area {
  fill: rgba(215, 2, 6, 0.6);
}

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: rgba(240, 91, 79, 0.6);
}
.ct-series-b .ct-slice-pie, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-area {
  fill: rgba(240, 91, 79, 0.6);
}

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: rgba(244, 198, 61, 0.6);
}
.ct-series-c .ct-slice-pie, .ct-series-c .ct-slice-donut-solid, .ct-series-c .ct-area {
  fill: rgba(244, 198, 61, 0.6);
}

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: rgba(209, 121, 5, 0.6);
}
.ct-series-d .ct-slice-pie, .ct-series-d .ct-slice-donut-solid, .ct-series-d .ct-area {
  fill: rgba(209, 121, 5, 0.6);
}

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: rgba(69, 61, 63, 0.6);
}
.ct-series-e .ct-slice-pie, .ct-series-e .ct-slice-donut-solid, .ct-series-e .ct-area {
  fill: rgba(69, 61, 63, 0.6);
}

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: rgba(89, 146, 43, 0.6);
}
.ct-series-f .ct-slice-pie, .ct-series-f .ct-slice-donut-solid, .ct-series-f .ct-area {
  fill: rgba(89, 146, 43, 0.6);
}

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: rgba(5, 68, 211, 0.6);
}
.ct-series-g .ct-slice-pie, .ct-series-g .ct-slice-donut-solid, .ct-series-g .ct-area {
  fill: rgba(5, 68, 211, 0.6);
}

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: rgba(107, 3, 146, 0.6);
}
.ct-series-h .ct-slice-pie, .ct-series-h .ct-slice-donut-solid, .ct-series-h .ct-area {
  fill: rgba(107, 3, 146, 0.6);
}

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: rgba(240, 91, 79, 0.6);
}
.ct-series-i .ct-slice-pie, .ct-series-i .ct-slice-donut-solid, .ct-series-i .ct-area {
  fill: rgba(240, 91, 79, 0.6);
}

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: rgba(221, 164, 88, 0.6);
}
.ct-series-j .ct-slice-pie, .ct-series-j .ct-slice-donut-solid, .ct-series-j .ct-area {
  fill: rgba(221, 164, 88, 0.6);
}

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: rgba(234, 207, 125, 0.6);
}
.ct-series-k .ct-slice-pie, .ct-series-k .ct-slice-donut-solid, .ct-series-k .ct-area {
  fill: rgba(234, 207, 125, 0.6);
}

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: rgba(134, 121, 125, 0.6);
}
.ct-series-l .ct-slice-pie, .ct-series-l .ct-slice-donut-solid, .ct-series-l .ct-area {
  fill: rgba(134, 121, 125, 0.6);
}

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: rgba(178, 195, 38, 0.6);
}
.ct-series-m .ct-slice-pie, .ct-series-m .ct-slice-donut-solid, .ct-series-m .ct-area {
  fill: rgba(178, 195, 38, 0.6);
}

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: rgba(97, 136, 226, 0.6);
}
.ct-series-n .ct-slice-pie, .ct-series-n .ct-slice-donut-solid, .ct-series-n .ct-area {
  fill: rgba(97, 136, 226, 0.6);
}

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: rgba(167, 72, 202, 0.6);
}
.ct-series-o .ct-slice-pie, .ct-series-o .ct-slice-donut-solid, .ct-series-o .ct-area {
  fill: rgba(167, 72, 202, 0.6);
}

.ct-square {
  display: block;
  position: relative;
  width: 100%;
}
.ct-square:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 100%;
}
.ct-square:after {
  content: "";
  display: table;
  clear: both;
}
.ct-square > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 93.75%;
}
.ct-minor-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-second {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-second:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 88.88889%;
}
.ct-major-second:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-second > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 83.33333%;
}
.ct-minor-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-third {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-third:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 80%;
}
.ct-major-third:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-third > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fourth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fourth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 75%;
}
.ct-perfect-fourth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fourth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-perfect-fifth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-perfect-fifth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 66.66667%;
}
.ct-perfect-fifth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-perfect-fifth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 62.5%;
}
.ct-minor-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-golden-section {
  display: block;
  position: relative;
  width: 100%;
}
.ct-golden-section:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 61.8047%;
}
.ct-golden-section:after {
  content: "";
  display: table;
  clear: both;
}
.ct-golden-section > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-sixth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-sixth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 60%;
}
.ct-major-sixth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-sixth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-minor-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-minor-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 56.25%;
}
.ct-minor-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-minor-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-seventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-seventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 53.33333%;
}
.ct-major-seventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-seventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 50%;
}
.ct-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-tenth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-tenth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 40%;
}
.ct-major-tenth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-tenth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-eleventh {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-eleventh:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 37.5%;
}
.ct-major-eleventh:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-eleventh > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-major-twelfth {
  display: block;
  position: relative;
  width: 100%;
}
.ct-major-twelfth:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 33.33333%;
}
.ct-major-twelfth:after {
  content: "";
  display: table;
  clear: both;
}
.ct-major-twelfth > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.ct-double-octave {
  display: block;
  position: relative;
  width: 100%;
}
.ct-double-octave:before {
  display: block;
  float: left;
  content: "";
  width: 0;
  height: 0;
  padding-bottom: 25%;
}
.ct-double-octave:after {
  content: "";
  display: table;
  clear: both;
}
.ct-double-octave > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/************************************************************
                          	Base
 ************************************************************/
.white_color {
  color: #FFF;
}

.gray_color {
  color: #A5A5A5;
}
.gray_color:active {
  color: #A5A5A5;
}

.red_bg_color, .delete_button, .delete_button:active {
  background-color: #FF1D00;
}

.brown_color, .brown_bg_color_quiet, .brown_bg_color_quiet:active, .btn_disable {
  color: #462401;
}
.brown_color:active, .brown_bg_color_quiet:active, .btn_disable:active {
  color: #462401;
}

.brown_bg_color, .login-button {
  background-color: #462401;
  color: #FFF;
}
.brown_bg_color:active, .login-button:active {
  background-color: #462401;
  color: #FFF;
}

/************************************************************
                      Onsen UI Override
 ************************************************************/
/* タブバーのボタンがactiveになっている時の色を指定 */
:checked + .tabbar__button {
  color: #462401;
}

/* ラジオボタンのチェックをした方の色を指定 */
.radio-button__checkmark:after {
  border: 2px solid #462401;
  border-top: none;
  border-right: none;
  border-radius: 0;
}

/* switchボタンのチェックをした際の色を指定 */
:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px #462401;
  background-color: #462401;
}

/************************************************************
                          	Signup
 ************************************************************/
.form-row {
  margin: .8rem;
}

.width-full {
  width: 100%;
}

.note {
  margin: .6rem;
  font-size: 0.75rem;
  opacity: .8;
}

.vspc {
  margin-top: 1.5rem;
}

.formarea {
  height: 93vh;
}

.signup_form_input {
  padding: 10px 0px;
  height: 3rem;
}

/************************************************************
                            Signin
 ************************************************************/
.login-form {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

.signin_form_input {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 16px;
  outline: none;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

/************************************************************
		                       Movies
************************************************************/
.center_message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
  opacity: .6;
}

.list_img, .list_img_large {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  width: 15vw;
  height: auto;
  background: url(../../img/loading.gif) no-repeat center;
  object-fit: contain;
}

.list_title {
  font-weight: 500;
}

.list_sub_title {
  margin-top: .3rem;
  font-size: 1rem;
}

.list_sub_title_small {
  margin-top: 1rem;
}

.list_button_row {
  position: absolute;
  bottom: 3.5%;
  right: 2%;
  width: 40vw;
}

.movies_search_input {
  width: 90vw;
  margin: 2vw 5vw;
}

.movies_reset_button {
  position: absolute;
  top: 0%;
  left: 80%;
  visibility: hidden;
}

/************************************************************
                        Movie Detail
************************************************************/
.poster_area {
  margin: 1rem 0rem;
}

.poster {
  display: block;
  margin: 0 auto;
  width: 40vw;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.small_overview, .small_overview_opacity {
  font-size: 0.75rem;
}

.small_overview_opacity {
  opacity: .5;
}

.delete_button {
  width: 96vw;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3rem;
}

/************************************************************
                       Movie Add Search
************************************************************/
.search_form {
  width: 80vw;
}

.toolbar_center_search_form {
  position: absolute;
  left: 0;
  margin-left: 12vw;
  padding: .4rem 0rem;
}

.reset_button {
  position: absolute;
  top: 0;
  margin-left: 100%;
  visibility: hidden;
}

.all_center_message {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  opacity: .6;
}

.list_img_large {
  width: 25vw;
}

.list_title_bold {
  font-weight: 500;
}

.list_sub_title_small {
  font-size: 3.5vw;
  line-height: 1rem;
}

.exist_message {
  position: absolute;
  bottom: 6%;
  right: 2%;
  color: #BE956A;
  font-size: .9rem;
  font-weight: 500;
}

.exist_message:after {
  position: relative;
  bottom: -0.16em;
  margin-left: 0.1em;
  margin-right: 0.3em;
  content: '追加済み';
}

/************************************************************
                          Movie Add
 ************************************************************/
.btn_disable {
  opacity: .4;
}
.btn_disable:active {
  color: #462401;
}

.notification_space_small, .notification_space_large {
  position: relative;
  margin-top: -15vw;
  margin-left: 13vw;
  background-color: #462401;
  font-size: .75rem;
}

.notification_space_large {
  margin-left: 15vw;
}

.card {
  height: 80vh;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}

.modal__content {
  font-size: 4vmin;
}

.card_modal_prev, .card_modal {
  height: 80vh;
  z-index: 0;
  opacity: 0;
}

.card_modal {
  position: fixed;
  height: 87%;
}

.card_back_image {
  width: 100%;
  height: 80vh;
  background-image: url("../../img/noimage.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.rating {
  position: relative;
  text-align: center;
}

.rating-num {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 100;
  right: 0;
  margin: 0 auto 0 auto;
  padding: 0 6px;
  width: auto;
  height: 24px;
  border-radius: 4px 4px 0 0;
  text-align: center;
  color: white;
  font-size: .8rem;
  font-weight: 600;
}

.rating-num ons-icon {
  font-size: 11px;
  vertical-align: 0px;
}

.action-col {
  text-align: center;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: .7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.alert {
  text-align: center;
  padding: 10px;
}

/************************************************************
                        Movie Add Status
************************************************************/
.center_button {
  margin-top: 2.5vh;
  padding: 2.5vh;
}

.small_message {
  opacity: .5;
  font-size: 0.75rem;
}

/************************************************************
                        Movie Add Feeling
************************************************************/
.feeling_no_message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: .6;
}

/************************************************************
                            User
************************************************************/
.chart_area {
  margin: .987rem 0rem;
  height: 40vw;
  padding: .987rem 0rem;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: 0.4;
}

.ct-label {
  fill: #462401;
  color: #462401;
}

.no_data_graph_message {
  height: 40.4vh;
  margin-top: 30vh;
  opacity: .6;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
