/************************************************************
                            Import
 ************************************************************/
@import "_chartist-settings.scss";
@import "chartist.scss";


/************************************************************
                          	Base
 ************************************************************/
$color-base: #1f1f21;
$color-white: #FFF;
$color-gray: #A5A5A5;
$color-brown: #462401;
$color-brown-sub: #BE956A;
$font-small: .75rem;


.white_color {
  color:  $color-white;
}

.gray_color {
  color: $color-gray;

  &:active {
    color: $color-gray;
  }
}

.red_bg_color {
  background-color: #FF1D00;
}


.brown_color {
  color: $color-brown;

  &:active {
    color: $color-brown;
  }
}

.brown_bg_color {
  background-color: $color-brown;
  color: $color-white;

  &:active {
    background-color: $color-brown;
    color: $color-white;
  }
}

.brown_bg_color_quiet {
  @extend .brown_color;

  &:active {
    @extend .brown_color;
  }
}


/************************************************************
                      Onsen UI Override
 ************************************************************/
/* タブバーのボタンがactiveになっている時の色を指定 */
:checked + .tabbar__button {
  color: $color-brown;
}

/* ラジオボタンのチェックをした方の色を指定 */
.radio-button__checkmark:after {
  border: 2px solid $color-brown;
  border-top: none;
  border-right: none;
  border-radius: 0;
}

/* switchボタンのチェックをした際の色を指定 */
:checked + .switch__toggle {
  box-shadow: inset 0 0 0 2px $color-brown;
  background-color: $color-brown;
}

.list-header {
  color: #FFF;
  background-color: rgba(70, 36, 1, .85);
}


/************************************************************
                            Form
 ************************************************************/
.form-row {
  margin: .8rem;
}

.width-full {
  width: 100%;
}

.formarea {
  height: 93vh;
}

.large_margin_form_area {
  text-align: center;
  width: 80%;
  margin: 60px auto 0;
}

.large_margin_form_input{
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: .3rem;
  margin: 0 auto 1rem;
  outline: none;
}

.list_signup_form_input {
  padding: 10px 0;
  height: 3rem;
}

.movies_search_input {
  width: 90vw;
  margin: 2vw 5vw;
}

.search_form {
  width: 80vw;
}

.toolbar_center_search_form {
  position: absolute;
  left: 0;
  margin-left: 12vw;
  padding: .4rem 0;
}

/************************************************************
                            Message
 ************************************************************/
.note {
  margin: .6rem;
  font-size: $font-small;
  opacity: .8;
}

.all_center_message {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  opacity: .6;
}

.small_overview {
  font-size: $font-small;
}

.small_overview_opacity {
  @extend .small_overview;
  opacity: .5;
}

.exist_message {
  position: absolute;
  bottom: 6%;
  right: 2%;
  color: $color-brown-sub;
  font-size: .9rem;
  font-weight: 500;
}

.exist_message:after {
  position: relative;
  bottom: -.16em;
  margin-left: .1em;
  margin-right: .3em;
  content: '追加済み';
}

.rating {
  position: relative;
  text-align: center;
}

.rating-num {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto 0 auto;
  padding: 0 6px;
  width: auto;
  height: 24px;
  border-radius: 4px 4px 0 0;
  text-align: center;
  color: white;
  font-size: .8rem;
  font-weight: 600;
}

.rating-num ons-icon {
  font-size: 11px;
  vertical-align: 0;
}

.small_message {
  opacity: .5;
  font-size: $font-small;
}

.no_data_graph_message {
  height: 40.4vh;
  margin-top: 30vh;
  opacity: .6;
  text-align: center;
}

.profile-name {
  font-size: 18px;
  padding: 4px 0 2px 0;
}

.profile-email {
  font-size: 15px;
  opacity: .4;
}

.center_link_block {

  &:active {
    background-color: #EEE;
  }

  display: inline-block;
  width: 100%;
  max-height: 3rem;
  padding: 1rem 0;
  background-color: #FFF;
  color: #00F;
  text-align: center;
}

.center_link {
  @extend .center_link_block;
  background-color: transparent;
}


/************************************************************
                            Button
************************************************************/
.vspc {
  margin-top: 1.5rem;
}

.large_button {
  @extend .brown_bg_color;
  width: 100%;
  margin: 0 auto;
}

.movies_reset_button {
  position: absolute;
  top: 0;
  left: 80%;
  margin-top: -.2%;
  visibility: hidden;
}

.delete_button {
  @extend .red_bg_color;
  width: 96vw;
  margin: 3rem auto;

  &:active {
    @extend .red_bg_color;
  }
}

.reset_button {
  position: absolute;
  top: 0;
  margin-top: -1%;
  margin-left: 100%;
  visibility: hidden;
}

.btn_disable {
  @extend .brown_color;
  opacity: .4;

  &:active {
    color: $color-brown;
  }
}


/************************************************************
                            List
************************************************************/
.list_img {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  width: 15vw;
  height: auto;
  background: url(../../img/loading.gif) no-repeat center;
  object-fit: contain;
}

.list_img_large {
  @extend .list_img;
  width: 25vw;
}

.list_title {
  font-weight: 500;
}

.list_title_bold {
  font-weight: 500;
}

.list_sub_title {
  margin-top: .3rem;
  font-size: 1rem;
}

.list_sub_title_small {
  margin-top: 1rem;
  font-size: 3.5vw;
  line-height: 1rem;
}

.list_button_row {
  position: absolute;
  bottom: 3.5%;
  right: 2%;
  width: 40vw;
}

.settings-header {
  margin-bottom: -.8rem;
  padding: 1.5rem 0 0 .5rem;
  opacity: .6;
}

.settings-list {
  margin-top: 1rem;
}

.settings-logout {
  margin-right: .5rem;
  opacity: .6;
}

.list_small_message {
  margin: .5rem;
  @extend .small_message;
}

.origin_list_width {
  width: 14rem;
}

.harf_list_height {
  height: 50%;
}

.harf_list_height_top {
  @extend .harf_list_height;
  margin: .3rem 0;
  border-bottom: .1px solid #999;
}

.list_p {
  margin-top: .3rem;
}


/************************************************************
                          Image
************************************************************/
.poster_area {
  margin: 1rem 0;
}

.poster {
  display: block;
  margin: 0 auto;
  width: 40vw;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.card {
  height: 80vh;
  background: $color-white no-repeat;
  background-size: cover;
  color: $color-white;
}

.card_back_image {
  height: 80vh;
  background-size: contain;
  background: url('../../img/noimage.png') no-repeat center;
}

.profile-image {
  width: 20vw;
  height: 20vw;
  border-radius: 4px;
  border: inset 1px rgba(0, 0, 0, .3);
  object-fit: cover;
  background: url(../../img/loading.gif) no-repeat center;
}

.cover_img {
  max-width: 100%;
  height: auto;

  &:active {
    opacity: .7;
  }
}

.img_30vh_height {
  max-height: 30vh;
}


/************************************************************
                        Notification
************************************************************/
.notification_space_small {
  position: relative;
  margin-top: -15vw;
  margin-left: 13vw;
  background-color: $color-brown;
  font-size: .75rem;
}

.notification_space_large {
  @extend .notification_space_small;
  margin-left: 15vw;
}

.alert {
  text-align: center;
  padding: 10px;
}


/************************************************************
                            Modal
************************************************************/
.modal__content {
 font-size: 4vmin;
}

.card_modal_prev {
  height: 80vh;
  z-index: 0;
  opacity: 0;
}

.card_modal {
  @extend .card_modal_prev;
  position: fixed;
  height: 89vh;
}


/************************************************************
                            Row & Col
 ************************************************************/
.action-col {
  text-align: center;
  padding: 10px 0 8px;
}

.action-col:active {
  opacity: .7;
}

.action-col ons-button {
  padding: 0;
  line-height: 1;
}

.action-icon {
  padding: 0 0 4px 0;
}

.action-icon ons-icon {
  font-size: 28px;
}

.action-label {
  font-size: 12px;
}

.info-col {
  height: 60px;
  line-height: 1;
  padding: 12px 0 12px 4px;
}

.info-num {
  font-size: 16px;
  font-weight: 500;
  opacity: .8;
}

.info-unit {
  margin-top: 6px;
  font-size: 14px;
  opacity: .4;
}

.ct-label {
  fill: $color-brown;
  color: $color-brown;
}


/************************************************************
                            Chart
************************************************************/
.chart_area {
  margin: .987rem 0;
  height: 40vw;
  padding: .987rem 0;
}


/************************************************************
                          Box
************************************************************/
.box {
  padding: .5rem 1em;
  margin: 1.4rem .5rem;
  color: #5d627b;
  background: white;
  border-top: solid 5px #BE956A;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.box_center {
  @extend .box;
  text-align: center ;
}

.box_content p {
  margin: 0;
  padding: 0;
}

.box_content {
  display: block;
  padding: .35rem 0;
  border-bottom: solid #EEE .1rem;
}

.box_mini_message_bottom_right {
    text-align: right;
}


/************************************************************
                          Other
************************************************************/
.profile-wrapper {
  padding: 16px 10px 0 10px;
}